body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
address {
  font-style: normal;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  font-family: inherit;
  outline: transparent;
}

label {
  cursor: default;
}
div {
  display: block;
  unicode-bidi: isolate;
}
:root {
  --primary-color: black;
  --background-color: rgb(242, 242, 240);
  --sidebar-color: rgb(249, 246, 239);
  --content-color: rgb(182, 216, 244);
}

body {
  background: var(--background-color);
}

.sidebar {
  background-color: var(--sidebar-color);

  flex-basis: 200px;
}

.container {
  background-color: var(--content-color);
  padding: 10px;
  height: auto;
}
