@import url('./reset.css');
body {
  background: rgb(242, 242, 240);
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(182, 216, 244);
  width: 800px;
}
.wrapper-list {
  display: block;
  flex-direction: column;
  padding: 40px;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.name {
  color: black;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.name-pro {
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.name-list {
  color: black;
}
.name-exp {
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.wrapper-aside {
  display: block;
  flex-direction: column;
}
.sidebar {
  background-color: rgb(249, 246, 239);
  padding: 40px;
  margin-left: 10px;
  box-sizing: border-box;
  width: 360px;
}
.container-sidebar-content {
  padding: 20px 20px;
}
.wrapper-tskills-list {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
  gap: 4px;
}
.wrapper-list {
  padding: 20px;
  width: 600px;
}
.soft-list {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
  gap: 4px;
}
.sskills-title {
  margin-bottom: 8px;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.work-list {
  display: block;
  flex-direction: column;
  padding-left: 20px;
}
.work-list-item {
  font-weight: 400;
  font-size: 14px;
}
