@import url('./reset.css');
body {
  background: rgb(240, 240, 205);
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(182, 216, 244);
  width: 800px;
}
.wrapper-list {
  display: block;
  flex-direction: column;
  padding: 40px;
}
.name {
  color: black;
}
.name-pro {
  color: black;
}
.name-list {
  color: black;
}
.name-exp {
  color: black;
}
.wrapper-aside {
  display: block;
  flex-direction: column;
}
.sidebar {
  background-color: rgb(243, 241, 237);
  padding: 40px;
  margin-left: 10px;
  box-sizing: border-box;
  width: 360px;
}
.container-sidebar-content {
  padding: 20px 20px;
}
.wrapper-tskills-list {
  display: block;
  flex-direction: column;
}
.wrapper-list {
  padding: 20px;
  width: 600px;
}
